extends ../news/news_layout

block content
    include ../include/header
    input#activeIndex(type="hidden" value="#{activeIndex}")
    input#activeIndex_two(type="hidden" value="#{activeIndex_two}")
    .about-main
        .main.clearfix
            .about-title
                a(href="#{navigationBar[0].url}").text1 #{navigationBar[0].name}!{'&nbsp;&gt;&nbsp;'}
                a(href="#{navigationBar[activeIndex].url}").text2 #{navigationBar[activeIndex].name}!{'&nbsp;&gt;&nbsp;'}
                span.text3 #{navigationBar[activeIndex].barResList[activeIndex_two].name}
            include ../include/left_block
            include ../include/right_block
    .footer
        include ../include/footer2

    script(src="/javascripts/lib/jquery-1.8.3.min.js")
    script(src="/javascripts/common.js")