.page.ov
    input(type="hidden" id="viewIndex" value="#{content.currentViewIndex}")
    input(type="hidden" id="type" value="")
    input(type="hidden" id="pageCount" value="#{content.pageCount}")
    input(type="hidden" id="dataId" value="#{content.type}")
    //为了员工风采详情列表做的判断
    if content.level_name == 'staff'
        if content.iPage > 1
            a(href="javascript:;").page_btn.pagingtion_btn.home 首页
            a(href="javascript:;").page_btn.pagingtion_btn.prev 上一页
        if content.iPage <= 1
            a(href="javascript:;").button_text.pagingtion_btn.home 首页
            a(href="javascript:;").button_text.pagingtion_btn.prev 上一页
        if content.iPage >= 1
            - for(var i=content.begin; i<=content.end; i++)
                if content.iPage != i
                    a(href="javascript:;").page_btn.pagingtion_btn.num #{i}
                if content.iPage == i
                    a(href="javascript:;").button_text.pagingtion_btn.num #{i}
        if content.iPage != content.pageCount
            a(href="javascript:;").page_btn.pagingtion_btn.next 下一页
            a(href="javascript:;").page_btn.pagingtion_btn.last 尾页
        if content.iPage == content.pageCount
            a(href="javascript:;").button_text.pagingtion_btn.next 下一页
            a(href="javascript:;").button_text.pagingtion_btn.last 尾页
    else
        if content.iPage > 1
            a(href="/" + content.level_name + "/" + content.level2_name + "/list/1").page_btn.home 首页
            a(href="/" + content.level_name + "/" + content.level2_name + "/list/#{content.currentViewIndex - 1}").page_btn.prev 上一页
        if content.iPage <= 1
            a(href="javascript:;").button_text.home 首页
            a(href="javascript:;").button_text.prev 上一页
        if content.iPage >= 1
            - for(var i=content.begin; i<=content.end; i++)
                if content.iPage != i
                    a(href="/" + content.level_name + "/" + content.level2_name + "/list/" + i).page_btn.num #{i}
                if content.iPage == i
                    a(href="/" + content.level_name + "/" + content.level2_name + "/list/" + i).button_text.num #{i}
        if content.iPage != content.pageCount
            a(href="/" + content.level_name + "/" + content.level2_name + "/list/#{content.currentViewIndex + 1}").page_btn.next 下一页
            a(href="/" + content.level_name + "/" + content.level2_name + "/list/#{content.pageCount}").page_btn.last 尾页
        if content.iPage == content.pageCount
            a(href="javascript:;").button_text.next 下一页
            a(href="javascript:;").button_text.last 尾页