.line
.newsdetail
    .newsdetail-title.at  #{content.title}
    .video-warp-content
        input#videosUrl(type="hidden" value="#{videosUrl}")
        input#coverPhotoUrl(type="hidden" value="#{coverPhotoUrl}")
        #standard_video.jwplayer.playlist-none
.title-bottom
    a(href="javascript:window.history.go(-1);") 返回上一级
.total_about_commend
    .detail-artical
        h3.about_commend  相关推荐
        #relateInfo.xline-xx
            each relatedNews in content.videoDetailResList
                .clearfix.relateInfo_item(style='width:100%;')
                    a.fl(href="/news/video/#{relatedNews.id}") #{relatedNews.title}
                    span.fr #{relatedNews.dateTime}
                .xline